::-moz-selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
}
::selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body {
    font: 1.6em / 1.63 $ibm;
    color: $black;
    font-kerning: normal;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong {
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    max-width: 100%;
}

.visually-hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
    margin: -1px !important;
    overflow: hidden !important;
}

/* Grid */
.wrapper-page {
    padding: 0 20px;
}
.container-home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    width: calc(100% + #{2 * $grid-gutter-s});
    margin-left: -#{$grid-gutter-s};
}
.has-gutter {
    padding: 0 #{$grid-gutter-s};
}

/* Titles */
.h1 {
    font-size: 4.4rem;
    line-height: 48px;
}
.h2 {
    font-size: 5.6rem;
    line-height: 60px;
}

/* Hero */
.wrapper-hero-club {
    margin-bottom: 55px;
}
.hero {
    padding-top: 10px;
}
.club {
    margin-top: 55px;
    text-align: right;
}

/* Projects */
.project {
    padding: 25px 0 20px;
}

@media (min-width: $desktop-small) {
    /* Grid */
    .container {
        width: calc(100% + #{2 * $grid-gutter-l});
        margin-left: -#{$grid-gutter-l};
    }
    .has-gutter {
        padding: 0 #{$grid-gutter-l};
    }

    /* Titles */
    .h1 {
        font-size: 5.6rem;
        line-height: 60px;
    }

    /* Hero */
    .wrapper-hero-club {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .hero {
        width: percentage(7/12);
    }
    .club {
        width: percentage(2/12);
        margin-top: 0;
    }

    /* Projects */
    .project {
        display: flex;
        align-items: baseline;
        .title {
            width: percentage(2/12);
        }
        .expertises {
            width: percentage(8/12);
        }
        .label {
            width: percentage(2/12);
            text-align: right;
        }
    }
}
