@import "./reset.css";
@import "./variables.scss";
@import "./base.scss";

/* Titles */
.h1 {
    font-size: 4.4rem;
    font-weight: 300;
    line-height: 48px;
    > strong {
        font-style: italic;
    }
    > br {
        display: none;
    }
}
.h2 {
    font-size: 5.6rem;
    font-weight: 300;
    font-style: italic;
    line-height: 60px;
}

/* Hero */
.wrapper-hero-club {
    margin-bottom: 55px;
}
.hero {
    padding-top: 10px;
}
.club {
    margin-top: 55px;
    text-align: right;
}
.hero-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    .link {
        margin-top: 10px;
    }
}
.link {
    display: inline-flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: $dark;
    &.underlined {
        text-decoration: underline;
    }
    .icon-star {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        fill: currentColor;
    }
}
.club-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    .link {
        margin-top: 4px;
    }
}

/* Projects */

.project {
    position: relative;
    padding: 25px 0 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: $black;
    align-items: flex-start;
    &.labelless {
        padding-bottom: 59px;
    }
    &:before {
        position: absolute;
        content: "";
        top: 0;
        height: 1px;
        left: -$grid-gutter-s;
        right: -$grid-gutter-s;
        background-color: $black;
    }
    .title {
        font-size: 2.4rem;
    }
    .expertises {
        font-weight: 300;
        font-size: 2rem;
    }
    .label {
        font-size: 1.5rem;
        margin-top: 15px;
    }
}

@media (min-width: $desktop-small) {
    /* Titles */
    .h1 {
        font-size: 5.6rem;
        line-height: 60px;
        > br {
            display: block;
        }
    }

    /* Hero */
    .wrapper-hero-club {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .hero {
        width: percentage(7/12);
    }
    .club {
        width: percentage(2/12);
        margin-top: 0;
    }

    /* Projects */
    .project {
        display: flex;
        align-items: baseline;
        .title {
            width: percentage(2/12);
        }
        .expertises {
            width: percentage(8/12);
        }
        .label {
            width: percentage(2/12);
            text-align: right;
        }
    }
}
